<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h1>All products</h1>


<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Price</td>

    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.title}">Title</td>
        <td th:text="${product.price}">Price</td>
    </tr>
</table>
<p><a th:href="@{/products}">Home</a></p>
<p><a th:href="@{'/products/new'}">Add new product</a></p>
<p><a th:href="@{'/products/page_1'}">Pages navigation</a></p>
<p><a th:href="@{'/products/edit'}">Edit</a></p>
</body>
</html>